@import url(/assets/css/_contact.css);
@import url(/assets/css/_menu.css);
@font-face {
    font-family: Vazir-Medium;
    src: url(../fonts/Vazir-Medium.eot) format("eot"),
      url(../fonts/Vazir-Medium.woff) format("woff"),
      url(../fonts/Vazir-Medium.woff2) format("woff2");
    
  }
  *,
  body {
 
    font-family: Vazir-Medium;
  }


 .main-nav{
    background-color: #232f3e;
  }

.line-nav div{
font-size: 13px;
  }

  a.navbar-brand img.logo {
width: 25px;
height: inherit;
  }
  .position-unset{
      position: unset !important;
  }
 
  @media screen and (max-width:575px){
    .d-xsm-none{
        display: none !important;
    }
  }

  .dropdown-menu img {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
  }
  